body {
    background: blueviolet;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather {
    background: black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
}

#weather-box input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#weather-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
    cursor: pointer;
}

#weather-box button:hover {
    background: gray;
}

#loc, #temperature {
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}
